* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

body{
	background-color: #000; 
}

p{
	float: right;
	margin-top: 668px;
	margin-right: 5px;
	font-family: 'Cedarville Cursive', cursive;
	font-size: 23px;
}

.contenedor {
	padding: 0px;
	margin: auto;
	width: 700px;
	height: 700px;
	background: #fff;
	background-repeat: no-repeat;
	background-position: center;
	border: 8px solid #00D1FF;
}

#player {
	background-color: #900;
	border: 4px solid #b22;
	width: 25px;
	height: 25px;
	border-radius: 29px;
	position: absolute;
	transition: all 0.1s;
}

.pointer{
	background-color: #444;
	height: 30px;
	margin-top:80px;
	border-bottom: 0px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
}